/*
 * Base structure
 */

@font-face {
  font-family: 'entypo';
  src: url('font/entypo.eot?71205724');
  src: url('font/entypo.eot?71205724#iefix') format('embedded-opentype'),
       url('font/entypo.woff?71205724') format('woff'),
       url('font/entypo.ttf?71205724') format('truetype'),
       url('font/entypo.svg?71205724#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="entypo-"]:before, [class*=" entypo-"]:before{
	font-family: "entypo";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.entypo-popup:before{content: '\e86b';}
/* Move down content because we have a fixed navbar that is 50px tall */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.checkbox-inline, .radio-inline{margin-right:10px;}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{margin-left:0;}

.process{display:block;position:relative; margin-top:14px;font-size:0;
	width:0px; background:green;height:2px;}
.process:before{height:4px;background:transform;;top:-1px;left:-1px;width:102px;
	content:" "; display:block;border:1px solid #green;position:absolute;}
@-webkit-keyframes fa-spin{
  from {-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
body {
  padding-top: 50px;
  font:13px/22px "Helvetica Neue",Helvetica,"Noto Sans","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body *{list-style:none;}
.green{color:green;}
.required-star,.price,.red{color:red;}
a{color:#373e4a;}
a:hover{color:#818da2; text-decoration:none;}
.handle a::before{font-family: "entypo";padding-right:2px;}
a.edit::before{content:'\e836';}
a.add::before{content:'\e816';}
a.view::before{content:'\e826';}
a.cancel::before{content:'\e813';}
a.del{color:#dd4b39;}
a.del::before{content:'\E815';}
.status .warning{color:#8a6d3b;}
.status .error{color:#a94442;}
.status .info{color:#31708f;}
.status .success{color:#3c763d;}

.hide2{display:none;}

/*
 * Global add-ons
 */
select{line-height:30px; height:30px;}
label *{font-weight:400;}
.table-responsive{overflow:inherit;}
.sub-header { padding-bottom: 10px; border-bottom: 1px solid #eee;}
.sub-header i{font-weight:400; font-style:normal; font-size:26px; color:#999; padding:0 4px;}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.admin-login{background:#373e4a;}
.form-signin{width:360px; margin:50px auto 0;}
.form-signin input[type=text], .form-signin input[type="password"]{margin:25px auto; height:43px;padding-left:35px;
	border-radius:1px;}
.form-signin .admin-name,.form-signin .admin-pass{position:relative;}
.form-signin .admin-name:before{font-family:'entypo'; content:'\e80a';position:absolute;font-size: 18px;
    top: 10px; left: 10px;}
.form-signin .admin-pass:before{font-family:'entypo'; content:'\e8d7';position:absolute;font-size: 18px;top: 10px; left: 11px;}
.form-signin{background:#fff; padding:20px 30px 60px 30px; box-shadow:0px 1px 1px #000; }
.form-signin button{border-radius:1px;}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f9fafc;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar li a{
	list-style:inside circle;
	display:list-item;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #000;
  background-color: #f4f4f5;
  border-bottom:1px solid #e9e9e9;
  border-top:1px solid #e9e9e9;
}

/** top-nav **/
.top-nav a::before,.admin-nav a::before{
		font-family:"entypo";padding-right:5px; font-size:16px;
}
.top-nav li:nth-child(1) a::before{content:'\e8de';}
.top-nav li:nth-child(2) a::before{content:'\E80B';}
.top-nav li:nth-child(3) a::before{content:'\e8d1';}
.top-nav li:nth-child(4) a::before{content:'\e86c';}
.top-nav li:nth-child(5) a::before{content:'\e855';}
.top-nav li:nth-child(6) a::before{content:'\e84c';}
.top-nav .active a{border-radius:25px; margin:5px 0; padding:10px 15px;}

.admin-nav>li:nth-child(1)>a::before{content:'\E832';}
.admin-nav>li:nth-child(2)>a::before{content:'\e80a';}

.admin-nav ul li:nth-child(1)>a::before{content:'\E832';}
.admin-nav ul li:nth-child(3)>a::before{content:'\E85D';}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */
.right-action{margin-right:0;}
.right-action a.btn{margin-left:10px;}


.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.pager span{
	background-color: #428BCA;
	border:1px solid #428BCA;
	line-height: 1.43;
	margin-left: -1px;
	padding: 6px 12px;
	color:#fff;
}
.pager .prev{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.pager .next{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pager a{
	background: #FFFFFF;
	border:solid 1px #DDDDDD;
	color: #2A6496;
	line-height: 1.43;
	margin-left: -1px;
	padding: 6px 12px;
}
.red{color:red;padding-right:3px;}

.search{padding:10px;line-height:24px;}
.search input[type=text]{padding:1px 3px;}

.edit-form{line-height:24px;}
.edit-form legend{border:none; padding:15px 0; margin:0;}

.edit-form label{display:block;padding:5px 0; font-weight:400;}
.edit-form label em{font-style:normal; font-weight:400; color:#666;padding:0 20px 0 10px;
	width:120px; text-align:right; display:inline-block; text-indent:0;}
.edit-form label.btn-action{margin-left:120px;}

.deleted{text-decoration:line-through; color:#ccc;}
.deleted .handle a{visibility:hidden;}
/** user **/

/**room**/
.room .status0{color:#333}
.room .status1{color:blue}
.room .status2{color:gray;}
.room .status3{color:green;}
.room .status4{color:red;}
/**goods**/
.goods-edit .nav-tabs{margin:0 0 20px 0;}
.goods-edit select{min-width:50%; width:auto;}
.goods-pic{float:left; width:70px;margin:0 5px 0 0}
/**album**/
.album{padding:0;}
.album .btn{float:left;margin-left:10px;margin-top:50px;}
.album li{position:relative;height:150px; width:150px; margin:0 0 10px 10px; float:left; text-align:center;}
.album li img{height:100%;max-width:100%; width:auto;}
.album li .del{position:absolute; border-radius:10px;height:20px;line-height:20px;
	text-align:center;width:20px;right:-10px; top:-10px;cursor:pointer;}
.album li .del:after{content:'\E814'; font-family:"entypo"; display:block; font-size:20px;
	color:#dd4b39;}
.album li .set-default{background:#ccc;position:absolute;left:0;top:0;cursor:pointer;color:#fff;padding:2px;}
.album .default .set-default{background:#00b32d;}
.album .progress{line-height:150px;font-size:20px; color:#aaa;}

.modal-body{max-height:465px; overflow-y:auto;overflow-x:hidden; }
::-webkit-scrollbar-track-piece{background-color:#f2f2f2; border-radius:5px;}
::-webkit-scrollbar-thumb{background-color:#ccc; border-radius:5px;}
::-webkit-scrollbar{width:6px; height:10px;}
.select-region-multi select{min-height:110px; min-width:60px;}

/** select goods **/
.select-goods .table{margin-top:5px;}
.select-goods .table .handle{width:50px;}
.select-goods .table td{vertical-align:middle; padding-top:0; padding-bottom:0;}

/***order***/
.order-list .table ul{margin:0; padding:0}
.order-list .table th{background:#f9f9f9; border:0; text-align:center;}
.order-list .table td{text-align:center;}
.order-list .table .order-goods{text-align:left;}
.order-list .order-dt{background:#f9f9f9; }
.order-list .order-dt td{background:#f9f9f9;border:1px solid #ddd;text-align:left;}
.order-list .order-dt em{color:#aaa; font-style:normal; padding-right:5px;}
.order-list .order-dt li{float:left; margin:0 30px 0 0}
.order-list .order-dt li:before{font-family:;}
.order-list .order-dt .order-remark{float:right;width:40px;overflow:hidden;text-indent:-30px;
	margin-right:0;}
.order-list .split-row td{border:none;}
.order-list .table tbody{border:none;}
.order-list tbody td{border:1px solid #ddd;}
.order-list .order-goods li{float:left;}
.order-list .order-goods .goods-pic img{width:60px; margin:0 15px 0 5px;}
.order-list .order-goods .goods-name{width:250px; margin:0 20px 0 0}
.order-list .consignee a:before{content:"\E80A"; font-family:"entypo"; color:#818da2; 
	padding-right:3px; font-size:18px;}
.order-list .remark a{cursor:pointer; padding:2px 3px; border:1px solid #fff;
	position:relative;}
.order-list .remark.open a{border:1px solid #ccc; background:#fff; border-bottom:none;z-index:1001}	
.order-list .remark .dropdown-menu{right:0px;top:14px;left:auto;width:410px;padding: 10px;
	border-color:#ccc;border-radius:0;}
.order-list .remark .dropdown-menu span{width:72px; display:inline-block;text-align:right;}
.order-list .remark .dropdown-menu label{margin-right:10px;line-height:25px; margin-bottom:0;
	padding-right:20px;}
.order-list .flag1{background:url('../images/flag1.png') 16px center no-repeat;}
.order-list .flag2{background:url('../images/flag2.png') 16px center no-repeat;}
.order-list .flag3{background:url('../images/flag3.png') 16px center no-repeat;}
.order-list .flag4{background:url('../images/flag4.png') 16px center no-repeat;}
.order-list .flag5{background:url('../images/flag5.png') 16px center no-repeat;}
.order-list .remark .dropdown-menu input{margin:0;line-height:25px; vertical-align:middle;}
.order-list .remark .dropdown-menu .note_submit{margin-left:72px;}
.order-list .remark .dropdown-menu textarea{vertical-align:top; width:300px; height:100px;}
.order-list .handle li{padding:5px;}

/****order-confirm****/
.order-confirm .form-group div{padding-top:7px;padding-left:0;}
.order-info .base-info th{text-align:right;}
.order-info .base-info td{text-align:left;}
.order-info .order-goods th{text-align:center}
.rank:after{content:'\E886'; font-family:"entypo"; margin-left:4px;}
.rank.desc:after{content:'\E883';}

/***role-form***/
.role-form .actions{padding-top:5px;}
.role-form .actions dl:after{content:''; display:block;clear:both;}
.role-form .actions dt{width:90px; line-height:25px;padding-left:20px;}
.role-form .actions dt input{margin-top:6px;margin-left:-20px;position:absolute; }
.role-form .actions dd{padding-right:15px;margin:-30px 0 0 90px; 
	line-height:25px;font-size:13px;}
.role-form .actions dd label{margin-left:0;margin-right:10px; padding-top:0;}
.role-form .actions dd label input{margin-top:6px;}

/*** user-list ****/
.user-list .uservip:after{content:'vip'; color:green;position:relative; top:-8px; font-weight:700;}
 .gift-status0{color:red;}
 .gift-status1{color:blue;}
 .gift-status2{color:green;}
/**** profile ****/
.profile th{text-align:right; width:16.666667%;}

/** setting wxmenu **/
.wxmenu .navbar-fixed-bottom{position:absolute;}
.wxmenu .col-sm-5{position:relative; height:500px; width:320px; border:1px solid #e7e7e7}
.wxmenu .dropdown{width:33%; text-align:center;}
.wxmenu .navbar-nav{width:100%;}
.wxmenu button{float:right; margin:10px 0;}

/** tags **/
.tags{padding:10px;}
.tags li{float:left; border:1px solid #ddd; padding:5px 15px;margin:0 10px 0 0; border-radius:3px;position:relative;}
.tags li:hover .handle{display:inline-block;}
.tags .handle{display:none; position:absolute; right:-30px; top:-1px;border:1px solid #ddd; height:34px; 
	width:40px; line-height:34px; background:#fff; border-top-right-radius:3px;border-bottom-right-radius:3px;
	z-index:1; border-left:none;}
	
.nav-sidebar li li a{padding:0 0 0 35px;}
.nav-sidebar>li>.has-list{background:transparent;}
.nav-sidebar li .active{list-style-type:disc;}
.nav-sidebar li li a{line-height:30px;}
.nav-sidebar li .active a{font-weight:700; list-style-type:disc;}
.nav-sidebar li ul{margin:0; padding:0px;}
/**** user *****/
.main{padding:10px 10px 0 10px;}
.sub-header{}
.shrink{background:#fff; margin-top:-80px; z-index:2; position:relative;}
.user .addwork{margin:0; padding:0;}
.user .addwork span{display:block;margin-bottom:5px;}
.user .search{}
.user .avatar{width:40px; max-height:40px;}
.user .time-buttons a{font-size:14px; margin:0 0px 0px 0; padding:8px 10px;border:1px solid #fff;vertical-align: middle;}
.user .time-buttons a.cur{border:1px solid #ccc; border-radius:15px;}

table td{text-align:center;}
table th{text-align:center;}
table td.left{text-align:left;}
table td.right{text-align:right;}

.circle .dt{color:#bbb; padding:0 1px 0 0;}
.search .laydate-icon{width:120px;}
.show-order-list td{cursor:pointer;}
.tabs{height:55px; line-height:55px;}
.tabs a{font-size:15px; margin:0 0 0 25px; display:inline-block; height:55px; color:#aaa;font-weight:700;}
.tabs a.cur{color:#333; border-bottom:2px solid #000; }

.h2, h2{font-size:24px;}
.order-details {margin-top:-57px;}
.order-details  h2{border-bottom:1px solid #eee; padding-bottom:10px;}
.order-details table{width:100%;}
.order-details table .dt td{background:#fff; padding:0 0 0 10px;height:40px;}
.order-details tr td{text-align:left;line-height:30px; height:75px;}
.order-details tr td{background:#f9f9f9; border-bottom:6px solid #fff; padding:0px 0 0px 10px;}
.order-details tr label{width:60px; text-align:right; display:inline-block;color:#999;}
.order-details .bottom-btn{margin:10px 20px 0 0;}
.order-details .bottom-btn button{margin:0 0 0 20px;}
.show-order-list .handle,.handle-time,.refuse,.status,.report,.cancel{display:none;}
.tab0 .handle{display:table-cell;}
.tab1 .handle-time{display:table-cell;}
.tab2 .handle-time,.tab2 .refuse{display:table-cell;}
.tab3 .report{display:table-cell;}
.tab4 .status{display:table-cell;}
.tab5 .cancel{display:table-cell;}
.order-details .back{margin-right:20px;}

/***message***/
.message .message-send-form{position:relative;}
.message .select-type-id dl{margin:0;}
.message .select-type-id dl label{width:100px;}
.message .select-type-id dl label,.message .select-type-id dl input{margin:0; vertical-align:middle;}
.message .select-type-id dl label input{margin-right:5px;}
.message .select-type-id dt{width:100px;}
.message .select-type-id dd{width:300px;}
.message .select-type-id dd label{font-weight:400;}

.message .select-type-id{position:absolute; top:112px; left:95px;
	background:#fff;z-index:1; border-radius:3px;border:1px solid #ddd;}
.message .select-type-id .trans{width:360px; height:35px; position:absolute; top:-34px;
	left:0px; background:transparent;}
.message .select-type-id .div-btn{margin:10px 5px 0 0;}
.message .select-type-id .select{padding:10px 15px 60px 15px; display:none;}
.message .select-type-id dt,.message .select-type-id dd{line-height:25px;}
.message .select-type-id dd{margin:-25px 0 0 70px;}
.main{position:relative; z-index:1001;}
.count .num-list{margin:0 0 0 -100px; position:relative;}
.count .num-list.table-striped>tbody>tr:nth-of-type(odd){background:transparent;}
.count tr:nth-of-type(odd) td{background:#f9f9f9;}
.count tr:nth-of-type(odd) th{background:#f9f9f9;}
.count .num-list .r1{background:transparent;border:1px solid #f9fafc;width:90px;border:none;
 text-align:right; border-right:1px solid #eee; font-size:14px;}
.count .num-list tr:nth-of-type(odd) .r1{border-right:1px solid #666;}

/*** document ***/
.document {position:relative;}
.document  .navbar-fixed-top{width:20%;top:51px;left:auto;right:15px;border:1px solid #eee; height:600px; overflow-y:auto;background:#fff;}
.document  .navbar-fixed-top li a{padding:0px 10px;}
.document  .navbar-fixed-top li b{font-size:16px; display:inline-block; width:15px; height:22px;}

/**think**/
#think_page_trace_open{z-index:1002;}

.daterangepicker .calendar th, .daterangepicker .calendar td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    white-space: nowrap;
    text-align: center;
	min-width: 32px;
	font-weight:400; font-size:12px;
}
.daterangepicker.opensright .ranges .range_inputs>div{width:99%;margin:0;padding-left:0;}
.daterangepicker .ranges .range_inputs>div:nth-child(2){padding-left:0 !important;}
.daterangepicker .ranges div .input-mini{width:auto;}
.daterangepicker.opensleft .applyBtn {float:right;margin-left:10px;}
.daterangepicker.opensleft .cancelBtn  {float:right;margin-left:10px;}
.btn-link{text-decoration:underline;}
