<div class="row">
<form action="{:U('edit')}" method="post"  class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label"><i class="required-star">*</i> 名称</label>
            <div class="col-sm-5">
                <input required="required" type="text" name="nickname" value="{$row.nickname}" class="form-control" placeholder="">
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label"><i class="required-star">*</i> 手机</label>
            <div class="col-sm-5">
                <input type="text" pattern="[0-9]{11}" required name="mobile" value="{$row.mobile}" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> 邮箱</label>
            <div class="col-sm-5">
                <input type="email" name="email"  value="{$row.email}" class="form-control" />
            </div>
        </div>
		{:W('upload/img', ['avatar','头像', $row['avatar'], 'required', 'avatar' ])}
		<div class="form-group">
            <label class="col-sm-2 control-label"> 真实姓名</label>
            <div class="col-sm-2">
               <input name="realname" value="{$row.realname}" class="form-control" />
            </div>
            <label class="col-sm-1 control-label"> 性别</label>
            <div class="col-sm-2">
				{:w('select/radio', $sexList)}
            </div>
            <label class="col-sm-1 control-label" style="padding:7px 0"> 出生年月</label>
            <div class="col-sm-2">
				{:W('form/node',[['name'=>'birthday', 'type'=>'date', 'value'=>$row['birthday'], 'format'=>'YYYY-MM-DD']])}
            </div>
		</div>
		<div class="form-group hide">
            <label class="col-sm-2 control-label"> 工作情况</label>
            <div class="col-sm-9 form-inline addwork">
			 <foreach name="row.work" key="k" item="v">
				<span type="work"><input name="work[{$k}][company]" value="{$v.company}" placeholder="公司名称" class="form-control">
					<input name="work[{$k}][time]" value="{$v.time}" placeholder="工作时间" class="form-control">
					<input name="work[{$k}][position]" value="{$v.position}" placeholder="职位" class="form-control"> 
				 <if condition="$k lt 1">
					<a class="btn btn-sm btn-default addrow">+</a>
				 <else />
					<a class="btn btn-sm btn-default delrow">-</a>
				 </if>
				</span>
			 </foreach>
			<if condition="!$row['work']">
                <span type="work"><input name="work[0][company]" value="" placeholder="公司名称" class="form-control">
					<input name="work[0][worktime]" value="" placeholder="工作时间" class="form-control">
					<input name="work[0][position]" value="" placeholder="职位" class="form-control"> 
					<a class="btn btn-sm btn-default addrow">+</a>
				</span>
			</if>
            </div>
        </div>
		<div class="form-group hide">
            <label class="col-sm-2 control-label"> 教育经历</label>
            <div class="col-sm-9 form-inline addwork">
			 <foreach name="row.education" key="k" item="v">
				<span type="education">
					<input name="education[{$k}][school]" value="{$v.school}" placeholder="学校,培训机构" class="form-control">
					<input name="education[{$k}][time]" value="{$v.time}" placeholder="时间" class="form-control">
					<input name="education[{$k}][major]" value="{$v.major}" placeholder="专业技能" class="form-control"> 
				 <if condition="$k lt 1">
					<a class="btn btn-sm btn-default addrow">+</a>
				 <else />
					<a class="btn btn-sm btn-default delrow">-</a>
				 </if>
				</span>
			</foreach>
			 <if condition="!$row['education']">
                <span type="education">
				<input name="education[0][school]" value="" placeholder="学校,培训机构" class="form-control">
                <input name="education[0][time]" value="" placeholder="时间" class="form-control">
                <input name="education[0][major]" value="" placeholder="专业技能" class="form-control"> 
				<a class="btn btn-sm btn-default addrow">+</a>
				</span>
			 </if>
            </div>
        </div>

		<div class="form-group">
            <label class="col-sm-2 control-label"> 状态</label>
            <div class="col-sm-8">
                {:W('select/radio', $statusList)}
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label"> </label>
            <div class="col-sm-5">
				<input type="hidden" name="id" value="{$row.id}">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
</form>
</div>