<include file="Public:header" />
<div class="table-responsive shrink user">
	<form class="form-inline search clearfix">
	  <if condition="$timeArr">
		<div class="pull-left time-buttons">
		  <foreach name="timeArr" item="v">
			<a class="{$v['cur']?"cur":""}" href="{$v.url}">{$v.name}</a>
		  </foreach>
		{:w('form/node', $selectDate)}
		</div>
	  </if>
		<div class="btn-group pull-right">
		<input  class="form-control" name="keywords" type="text" placeholder="手机号或者昵称搜索" value="{$search.keywords}" >
		<button  class="form-control btn-info" >搜索</button>
		</div>
	</form>
	<table class="table table-striped user-list">
		<tr>  
		  <th>#</th>
		  <th>头像</th>
		  <th>昵称</th>
		  <th>性别</th>
		  <th>注册手机号</th> 
		  <th>绑定微信</th> 
		  <th>绑定QQ</th> 
		  <th>摄影师认证</th> 
		  <th>注册时间</th>
		  <th>最后登录</th>
		  <th width=60>操作</th>
		</tr>
		<foreach name="userList" item="v">
		<tr>
			<td>{$v.id}</td>
			<td>
				<if condition="$v['avatar']">
					<a href="javascript:openInNewWindow('{$v.avatar}')">
						<img class="avatar" src="{$v.avatar}" width=25 />
					</a>
				</if>
			</td>
			<td>{$v.nickname}</td>
			<td>{$v.sexName}</td>
			<td>{$v.mobile}</td>
			<td>{$v['weixin_id']?'是':'否'}</td>
			<td>{$v['qq_id']?'是':'否'}</td>
			<td>{$v['phoIdentify']?'是':'否'}</td>
			<td>{$v.addTime}</td>
			<td>{$v['lastLogin']}</td>
			<td class="handle">
				<a class="dialog edit hide" dialog-lg="true" href="#" url="{:u('edit','id=' . $v['id'])}">编辑</a>
			 <if condition="$v['status'] lt 1">
				<button class="btn btn-danger dialog" title="确定封号" url="/Admin/user/userChange/id/{$v.id}">封号</button>
			 <else />
				<button class="btn btn-warning ajaxPost" url="{:u('user/userChange')}" data="id={$v.id}&status=0" confirm=1 success="已解封!">解封</button>
			 </if>
			</td>
		</tr>
		</foreach>
	</table>
	<div class="pager">{$page}</div>
</div>
<import type="css" file="js.lib.daterangepicker.daterangepicker-bs3" />
<import file="js.lib.laydate.laydate,js.admin.user,js.lib.daterangepicker.moment#min,js.lib.daterangepicker.daterangepicker" />
<include file="Public:footer" />