<include file="Public:header" />
<div class="table-responsive">
	<form class="form-inline search">
		<div class="form-group">{:w('select/index', $industrys)}</div>
		<div class="form-group">
		<input name="id" type="text" placeholder="ID" value="{$search.id}" pattern="[0-9]+"  class="form-control">
		<input name="from" type="text" placeholder="来源ID" value="{$search.from}" pattern="[0-9]+"  class="form-control"></div>
		{:w('SelectUser/index',[$search['user_id']])}
		<div class="form-group">
		<input name="title" type="text" placeholder="输入标题" value="{$search.title}"  class="form-control"></div>
		<input type="submit" class="btn btn-info" value="搜索" />
	</form>
	<table class="table table-striped">
		<tr>  
		  <th>#</th>
		  <th>标题</th>
		  <th>用户</th>
		  <th>来源</th>
		  <th>状态</th>
		  <th width="250">添加/更新</th>
		  <th>操作</th>
		</tr>
		<foreach name="list" item="v">
		<tr>
			<td>{$v.id}</td>
			<td>{$v.title}</td>
			<td>{$v.userName}</td>
			<td>{$v.fromName}</td>
			<td class="<if condition="$v['status'] gt 0">green</if>">{$v.statusName}</td>
			<td >{$v.addTime} / {$v.updateTime}</td>
			<td width=200 class="handle">
				<a class="dialog edit" dialog-lg="true" href="#" url="{:u('messageEdit','id=' . $v['id'])}">编辑</a> 
				<a class="ajaxDel del" href="#" url="{:u('messageDel','id=' . $v['id'])}">删除</a>
			</td>
		</tr>
		</foreach>
	</table>
	<div class="pager">{$pageVar}</div>
</div>
<import type="css" file="js.lib.kindeditor.themes.default.default" />
<import file="js.lib.kindeditor.kindeditor-min,js.lib.kindeditor.lang.zh_CN,js.lib.kindeditor.config" />
<include file="Public:footer" />